@using LibraryManagement.DataAccess.Concrete
@using LibraryManagement.DataAccess.Concrete.EntityFrameworkCore
@using LibraryManagement.Entities.Concrete
@using Microsoft.Data.SqlClient
@using System.Data
@using learningASP.NET_CORE.Controllers
@using LibraryManagement.Business.Concrete
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Profile</title>
    <link rel="icon" href="/img/logo.png" type="jpeg">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="bg-gray-200">
    @{
        LibraryManager _libraryManager = new LibraryManager(new EfLibraryRepository());
        UserManager _userManager = new UserManager(new EfUserRepository());
        string? userName = Convert.ToString(ViewData["UserName"]);
        string? userProfilePicture = Convert.ToString(ViewData["UserProfilePicture"]);
    }
    <nav class="bg-gray-900 text-white px-6 py-3 top-0 sticky z-50">
        <div class="mx-auto flex max-w-7xl items-center justify-between">
            <!-- Logo -->
            <div class="space-x-3 flex items-center">
                <img src="/img/logo.png" class="w-12 h-12 rounded-full">
                <span class="text-lg font-semibold">BenimKitaplığım</span>
            </div>

            <!-- Desktop Menu -->
            <!-- Mobile Menu Button -->
            <button id="menu-btn" class="text-white focus:outline-none md:hidden">
                ☰ <!-- Hamburger Icon -->
            </button>

            <!-- Profile & Notification -->
            <div class="space-x-4 flex items-center">
                <div class="space-x-6 hidden items-center md:flex">
                    <a href="/Kullanici/Duzenle" class="text-gray-300 hover:text-white">Kitaplık</a>
                    <a href="/Kullanici/Ayarlar" class="text-gray-300 hover:text-white">Ayarlar</a>
                    <a href="/Sohbet/BenimAsistanim" class="text-gray-300 hover:text-white">BenimAsistanım</a>
                </div>
                <div class="relative">
                    <span class="text-gray-400 cursor-pointer text-2xl hover:text-white">🔔</span>
                    <span class="bg-red-500 text-white px-1 absolute -right-[5px] -top-[2px] flex h-[16px] min-w-[16px] items-center justify-center rounded-full font-bold text-[10px]">
                        3
                    </span>
                </div>
                <a href="/Kullanici/Profil"><img src="@((userProfilePicture != null) ? userProfilePicture : "~/img/profilepictureSmall.jpeg")" class="w-12 h-12 rounded-full"></a>
            </div>
        </div>

        <!-- Mobile Dropdown Menu -->
        <div id="mobile-menu" class="space-y-2 bg-gray-800 py-3 px-6 flex hidden flex-col md:hidden">
            <a href="/Kullanici/Duzenle" class="text-gray-300 hover:text-white">Kitaplık</a>
            <a href="/Kullanici/Ayarlar" class="text-gray-300 hover:text-white">Ayarlar</a>
        </div>
    </nav>
    
    <div class="gap-6 m-5 mt-10 flex flex-col justify-between md:flex-row">
        <!-- Profile Section -->
        <div class="bg-white p-6 w-full rounded-lg shadow-lg md:w-1/3">
            <img class="w-32 h-32 mx-auto rounded-full" src="@((userProfilePicture != null) ? userProfilePicture : "/img/profilepicture.jpeg")" alt="Profile Picture">
            <a href="/Kullanici/Ayarlar">
                <button class="mt-4 bg-blue-500 text-white p-2 w-full rounded-full hover:bg-blue-400">Profil Ayarları</button>
            </a>
            <div class="mt-6">
                <h3 class="font-semibold">@userName</h3>
                <h3 class="font-semibold">Bulunduğu yer: @await _userManager.ResidementPlaceCityAsync(userName)/@await _userManager.ResidementPlaceCountryAsync(userName)</h3>
                <h3 class="font-semibold">Toplam Kitap sayısı: @await _libraryManager.GetTotalOfBooksAsync(userName)</h3>
            </div>
            <div class="mt-4">
                <h4 class="font-semibold">Kitap Türleri:</h4>
                <div class="gap-4 mt-4 flex flex-wrap">
                    <div class="space-x-2 flex items-center">
                        <div class="bg-blue-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Tarih & Kültür</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-green-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Edebiyat & Roman</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-yellow-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Ekonomi, İş ve Hukuk</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-purple-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Psikoloji & Kişisel Gelişim</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-red-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Toplum, Felsefe ve Din</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-indigo-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Bilim & Teknoloji</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-pink-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Sanat & Tasarım</span>
                    </div>
                    <div class="space-x-2 flex items-center">
                        <div class="bg-gray-500 w-4 h-4 rounded-full"></div>
                        <span class="text-sm">Diğer</span>
                    </div>
                </div>
            </div>
            <!-- Circular Progress Bar for Genre Readings -->
            <div class="mt-6 flex justify-center">
                <div class="w-32 h-32 relative">
                    <svg class="inset-0 absolute" width="100%" height="100%" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                        <!-- Background Circle -->
                        <circle class="text-gray-200" fill="none" stroke-width="3" stroke="currentColor" cx="18" cy="18" r="16"></circle>

                        <!-- Red Segment (20%) -->
                        <circle class="text-red-500" fill="none" stroke-width="3" stroke-linecap="round" stroke="currentColor" cx="18" cy="18" r="16" stroke-dasharray="20.104, 100" stroke-dashoffset="25"></circle>

                        <!-- Blue Segment (20%) -->
                        <circle class="text-blue-500" fill="none" stroke-width="3" stroke-linecap="round" stroke="currentColor" cx="18" cy="18" r="16" stroke-dasharray="20.104, 100" stroke-dashoffset="12.104"></circle>

                        <!-- Purple Segment (60%) -->
                        <circle class="text-purple-500" fill="none" stroke-width="3" stroke-linecap="round" stroke="currentColor" cx="18" cy="18" r="16" stroke-dasharray="60.312, 100" stroke-dashoffset="155.208"></circle>
                    </svg>
                    <div class="inset-0 absolute flex items-center justify-center text-xl font-semibold">75%</div>
                </div>
            </div>
        </div>

        <!-- Statistics Section -->
        <div class="bg-white p-6 w-full rounded-lg shadow-lg md:w-2/3">
            <h2 class="mb-6 text-center text-xl font-bold underline">İstatistikler</h2>

            <!-- Symmetric Status List -->
            <div class="gap-6 mb-6 grid grid-cols-2 text-lg">
                <div class="flex flex-col items-center">
                    <h3 class="font-semibold">Planlıyor</h3>
                    <span class="text-blue-500 text-3xl">@await _libraryManager.BookStatusCounterAsync("Planlıyor", userName)</span>
                </div>
                <div class="flex flex-col items-center">
                    <h3 class="font-semibold">Okuyor</h3>
                    <span class="text-green-500 text-3xl">@await _libraryManager.BookStatusCounterAsync("Okuyor", userName)</span>
                </div>
                
            </div>
            <div class="gap-6 mb-6 grid grid-cols-2 text-lg">
                <div class="flex flex-col items-center">
                    <h3 class="font-semibold">Okumuyor</h3>
                    <span class="text-yellow-500 text-3xl">@await _libraryManager.BookStatusCounterAsync("Okumuyor", userName)</span>
                </div>
                <div class="flex flex-col items-center">
                    <h3 class="font-semibold">Bıraktı</h3>
                    <span class="text-red-500 text-3xl">@await _libraryManager.BookStatusCounterAsync("Bıraktı", userName)</span>
                </div>
            </div>
            <a href="/Kullanici/Kitaplik">
                <button class="bg-blue-500 text-white p-2 w-full rounded-full hover:bg-blue-400">Kütüphaneye Git</button>
            </a>
            <div class="mt-6 max-h-80 border-gray-300 overflow-y-auto border">
                <table class="border-gray-300 min-w-full table-auto border">
                    <thead class="bg-gray-200 top-[-2px] border-gray-300 sticky">
                        <tr>
                            <th class="px-4 py-3 border-gray-300 border-b text-left"></th>
                            <th class="px-4 py-3 border-gray-300 border-b text-left">İsim</th>
                            <th class="px-4 py-3 border-gray-300 border-b text-left">Yazar</th>
                            <th class="px-4 py-3 border-gray-300 border-b text-left">Kategori</th>
                            <th class="px-4 py-3 border-gray-300 border-b text-left">Tamamlanan Sayfalar</th>
                            <th class="px-4 py-3 border-gray-300 border-b text-left">Toplam Sayfa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            using (var context = new LibraryContext())
                            {
                                var libraries = context.Libraries
                                .Where(lib => lib.UserName == userName && lib.Status == "Okuyor")
                                .Select(lib => new Library
                {
                    Name = lib.Name,
                    Author = lib.Author,
                    Category = lib.Category,
                    CompletedPages = lib.CompletedPages,
                    TotalOfPages = lib.TotalOfPages
                })
                                .ToList();

                                foreach (var library in libraries)
                                {
                                    <tr>
                                        <td class="px-4 py-2 border-gray-300 border-b"></td>
                                        <td class="px-4 py-2 border-gray-300 border-b">@library.Name</td>
                                        <td class="px-4 py-2 border-gray-300 border-b">@library.Author</td>
                                        <td class="px-4 py-2 border-gray-300 border-b">@library.Category</td>
                                        <td class="px-4 py-2 border-gray-300 border-b">@library.CompletedPages</td>
                                        <td class="px-4 py-2 border-gray-300 border-b">@library.TotalOfPages</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="bg-white p-6 mt-8 m-5 rounded-lg shadow-lg">
        <h2 class="text-gray-800 mb-6 text-center text-2xl font-bold">Kullanıcı Vitrini</h2>
        <div class="gap-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
            <!-- Book Items -->
             @{
                        var listShowcase = await _libraryManager.ListBookShowcaseAsync(userName);
                        foreach(var book in listShowcase)
                        {
            <div class="space-y-2 bg-gray-100 p-4 flex cursor-pointer flex-col items-center rounded-lg shadow-md transition-shadow hover:shadow-lg">
                <img class="w-32 h-48 duration-400 transform rounded-md object-cover transition-transform hover:scale-110" src="~/img/" alt="Kitap 1">
                <span class="text-gray-700 font-semibold">@book.Name</span>
            </div>
                }
                }
        </div>
    </div>
   
           
    <script src="/js/ProfileIndex.js"></script>
</body>
</html>

